.form {
  display: flex;
  gap: 1rem;
  flex: 1;
  width: 100%;
  transform: translateY(-50%);
}

.form input {
  flex: 1;
  background-color: var(--gray-500);
  border: 2px solid var(--gray-700);
  border-radius: 8px;
  padding: 1.187rem;
  color: var(--gray-300);
}

.form button[type="submit"] {
  background-color: var(--blue-700);
  border: none;
  border-radius: 8px;
  padding: 1.187rem;
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.form button[type="submit"]:hover {
  background-color: var(--blue-500);
}
