.todo {
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 2px solid var(--gray-400);
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--gray-100);
  width: 100%;
  transition: background-color 0.2s, border-color 0.2s;
}

.todo.done {
  background-color: var(--gray-500);
  border-color: var(--gray-500);
}

.todo.done .content {
  text-decoration: line-through;
  color: var(--gray-300);
}

.todo.done .checkbox {
  background-color: var(--purple-700);
  border-color: var(--purple-700);
  color: var(--white);
}

.todo.done .checkbox:hover {
  background-color: var(--purple-500);
  border-color: var(--purple-500);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--blue-500);
  transition: border-color 0.2s, background-color 0.2s;
  cursor: pointer;
}

.checkbox:hover {
  border-color: var(--blue-700);
}

.content {
  flex: 1;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  color: var(--gray-300);
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.deleteButton:hover {
  background-color: var(--gray-400);
  color: var(--red-500);
}
